{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">

{% block css %}
    <link rel="stylesheet" href="{% static '/home/register.css' %}">
{% endblock %}

  
  <body>


  {% block body %}

      <h2>Berhasil Dihapus</h2>
	
      <a href="/jadwal"><button type="button" class="btn btn-primary">Kembali Ke Jadwal</button></a>

  {% endblock %}
  </body>
  
</html>