{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    {% block css %}
        <link rel="stylesheet" href="{% static '/home/kontak.css' %}">
    {% endblock %}

    <head>
    </head>

    <body>
    {% block body %}


    <p class="container-fluid">

        <h1 class="kontaksy">Kontak Saya</h1>

        <div class="row">

            <!--Instagram-->
            <div class="col">
                <h5>Instagram</h5>
                <a href="https://www.instagram.com/?hl=en"><img src="http://assets.stickpng.com/thumbs/580b57fcd9996e24bc43c521.png" height="200" width="200"></a>
            </div>

            <!--Twitter-->
            <div class="col">
                <h5>Twitter</h5>
                <a href="https://www.instagram.com/?hl=en"><img src="http://www.transparentpng.com/thumb/twitter/twitter-style-icons-png-6.png" height="200" width="200"></a>

            </div>

            <!--Facebook-->
            <div class="col">
                <h5>Facebook</h5>
                <a href="https://www.instagram.com/?hl=en"><img src="http://assets.stickpng.com/thumbs/584ac2d03ac3a570f94a666d.png" height="200" width="200"></a>


            </div>

        </div>


        <br><br><br>
        <div>
            <img src="http://www.translate-medtech.ac.uk/wp-content/uploads/2016/07/phone-call.png" width="180" height="180" class="telp">
        <p><br>Telepon Saya : 0812 345 678 910</p>
        </div>




    </div>

    {% endblock %}
    </body>

</html>