{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="en">

{% block css %}
    <link rel="stylesheet" href="{% static '/home/profil.css' %}">
{% endblock %}

  
  <body>


  {% block body %}


	  <div class="container-fluid">

          <!--Halaman Foto-->
          <div class="halaman">

              <h1 class="nama">Halo, Saya <br>Kevin Raikhan Zain</h1>
              <img src="https://drive.google.com/uc?id=19jrm9fZDHBf0YnDqGUkdsoX-fMQoBcgT" class="img-fluid fotprof">

          </div>

          
	  </div>


      <div class="row">

          <!--Tentang Saya-->

          <div class="col">

              <h1><span class="badge badge-secondary">Tentang Saya</span></h1>
              <p>Halo, saya Kevin Raikhan Zain.<br> Umur saya 19 tahun.<br> Hobi saya main game sama nonton film</p>


          </div>

          <!--Kolom 2 dan 3 Kosong-->
          <div class="col"></div>
          <div class="col"></div>

      </div>



      <div class="row">

          <!--Kolom 1 dan 2 Kosong-->
          <div class="col"></div>
          <div class="col"></div>

          <div class="col">
              <h1><span class="badge badge-secondary">Pendidikan</span></h1>
              <p>Universitas Indonesia <br>Fakultas Ilmu Komputer</p>
          </div>


      </div>

  <h1><span class="badge badge-secondary">Yang Pernah Saya<br> Lakukan</span></h1>

  <div class="row">

      <!-- Google -->
      <div class="col">
          <img src="https://2.bp.blogspot.com/-7bZ5EziliZQ/VynIS9F7OAI/AAAAAAAASQ0/BJFntXCAntstZe6hQuo5KTrhi5Dyz9yHgCK4B/w800-h800/googlelogo_color_200x200.png">
          <h3>Founder Google</h3>
      </div>

      <!--Steam-->
      <div class="col">
          <img src="https://i2.wp.com/www.chriswrites.com/wp-content/uploads/steam.png?fit=200%2C200">
          <h3>Founder Steam</h3>
      </div>



  </div>


  {% endblock %}
  </body>
  
</html>