{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
    {% block css %}
        <link rel="stylesheet" href="{% static '/home/register.css' %}">
    {% endblock %}
<head>




    {% block head %}
    {% endblock %}
</head>

<body>

{% block body %}

<form>
    <center>
    <div class="form-group">
        <label>Nama :</label>
        <input type="text" class="form-control" width="100px" placeholder="Masukan nama">
        <br>

        <label>Tanggal :</label>
        <input type="date" class="form-control" width="100px">
        <br>

        <label>Email :</label>
        <input type="email" class="form-control" width="100px" placeholder="Masukan alamat email">
        <br>

        <label>Username :</label>
        <input type="email" class="form-control" width="100px" placeholder="Masukan username">
        <br>

        <label>Password :</label>
        <input type="password" class="form-control" width="100px" placeholder="Masukan password">
        <br>

        <label>Konfirmasi Pasword :</label>
        <input type="password" class="form-control" width="100px" placeholder="Masukan password lagi">
        <br>

        <button type="button" class="btn btn-primary">Submit</button>


    </div>
        </center>


</form>

{% endblock %}
</body>
</html>