body {
    text-align: center;
    background-color: #FFE680;
    margin-bottom: 100px;
}



.fotprof {
    position: absolute;
	width: 400px;
	height: auto;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;


}

.nama {

	padding-top: 8%;

}

.badge {
    background-color: #FFCD00;
}

.halaman {
	height:100vh;

}
