 body {
    background-color: #FFE680;
    margin-bottom: 100px;
    text-align: left;


}

        .form-group {
    border-radius: 25px;
    width: 300px;
    background-color: powderblue;
    padding: 3%;
}


@media(max-width: 568px)  {

    .form-group {
        border-radius: 25px;
        width: 250px;
        background-color: powderblue;
        padding: 3%;

    }

}




button {

    margin-top: 20px;

}
