{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">




<head>
    {% block css %}
        <link rel="stylesheet" href="{% static '/home/profil.css' %}">
    {% endblock %}

    {% block head %}
        <style>

        .hasil {
            width: 200px;
            text-align: left;
            border-radius: 25px;
            width: 300px;
            background-color: powderblue;
            padding: 3%;

        }



        </style>


    {% endblock %}

    <meta charset="UTF-8">
    <title>Berhasil</title>
</head>
<body>

{% block body %}
    <br>
<h1>Berhasil Ditambahkan</h1>
    <br><br>

    <center>
    <div class="hasil">
        <h2>Data : </h2>
    <ul>
        <li>Nama    : {{ name }}</li>

        <li>Tempat   : {{ tempat }}</li>

        <li>Kategori : {{ kategori }}</li>

        <li>Jam       : {{ waktu }}</li>

        <li>Tanggal  : {{ tanggal }}</li>

    </ul>
        <a href="/jadwal" class="btn btn-primary" role="button">Kembali Ke Jadwal</a>

    </div>

    </center>

{% endblock %}

</body>
</html>