{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


    {% block css %}
        <link rel="stylesheet" href="{% static '/home/register.css' %}">
    {% endblock %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block head %}
    <style>

    body {
        text-align: center;
        background-color: #FFE680;
        margin-bottom: 100px;
    }

    .hasil {

        width: 500px;
        background-color: #dddddd;
        padding: 20px;
        border-radius: 25px;
        text-align: left;

    }

    @media(max-width: 568px) {

            .hasil {

            width: 250px;
            background-color: #dddddd;
            padding: 20px;
            border-radius: 25px;
            text-align: left;

        }

    }


</style>
    {% endblock %}

</head>
<body>
{% block body %}
<h1>Tambahkan Jadwal</h1>

    <center>
<section name="form">
    <form id="form" method="POST" action="jadwal/addjadwal">
        {% csrf_token %}

        <div class="form-group">
            {{ form }}
            <button type="submit" class="btn btn-warning"> Submit </button>
        </div>

    <br>




    </form>


</section>

    <div class="hasil">
    <h2>List Jadwal</h2>
        <ul>
            {% for item in database %}

                <li>Nama : {{ item.nama }} <br> Tempat : {{ item.tempat }} <br> Kategori : {{ item.kategori }} <br> Waktu : {{ item.waktu }} <br> Tanggal : {{ item.tanggal }} <br><br></li>

            {% endfor %}
        </ul>

        <a href="jadwal/hapus"><button class="btn btn-danger">Hapus Semua Jadwal</button></a>
    </div>




    </center>




{% endblock %}
</body>
</html>